@charset "utf-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, form, label, table, tbody, thead, tr, th, td, footer, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

footer, header, nav {
  display: block;
}

html, body {
  font-family: 'iCiel VAG Rounded Next';
  font-weight: 500;
  font-style: normal;
  background-color: #fff;
  font-size: 62.5%;
  color: #000;
  line-height: 1.4;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: 1.2;
  font-family: inherit;
  font-size: 100%;
}

p {
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  line-height: 1.4;
}

img {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #666;
}

button, input, textarea {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  font-family: inherit;
}

sup {
  position: relative;
  font-size: 60%;
  vertical-align: super;
}

strong {
  position: relative;
  font-weight: 700;
  font-style: normal;
}

.fs-no-scroll {
  height: 100%;
  overflow: hidden;
}

.fs-has-layout::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

@font-face {
  font-family: 'iCiel VAG Rounded Next';
  src: url('../fonts/iCielVAGRoundedNext-Medium.woff2') format('woff2'), url('../fonts/iCielVAGRoundedNext-Medium.woff') format('woff'), url('../fonts/iCielVAGRoundedNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.woff2') format('woff2'), url('../fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-SemiBold.woff2') format('woff2'), url('../fonts/Quicksand-SemiBold.woff') format('woff'), url('../fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iCiel VAG Rounded Next';
  src: url('../fonts/iCielVAGRoundedNext-Bold.woff2') format('woff2'), url('../fonts/iCielVAGRoundedNext-Bold.woff') format('woff'), url('../fonts/iCielVAGRoundedNext-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*LAYOUT COMMON*/

.fs-page, .fs-header, .fs-container, .fs-footer, .fs-section, .header-inr, .fs-inr, .footer-inr, .fs-title, .fs-box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.fs-page {
  max-width: 112.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.fs-bg, .fs-pic, .fs-txt {
  position: relative;
  display: block;
}

.fs-pic {
  line-height: 0;
}

.fs-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fs-bg::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.fs-pic img {
  width: 100%;
}

.fs-bg {
  position: relative;
  width: 100%;
  height: auto;
}

.fs-bg div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fs-pc {
  display: block;
}

.fs-sp {
  display: none;
}

/*SELECT LIST*/

.fs-select {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
  z-index: 2;
}

.fs-select-header {
  position: relative;
  display: block;
  height: 4rem;
  padding: 0 1.5rem;
  border: 1px solid rgba(119, 119, 119, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
}

.fs-select-header span {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 1rem;
  max-width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #414042;
}

.not-default .fs-select-header span {
  color: #414042;
}

.fs-select-header::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 1.6rem;
  height: 1rem;
  background: url(../images/icon-select-down.png) no-repeat center center;
  background-size: 100% auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fs-select-box {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
  margin-top: 0.2rem;
}

.fs-select-box ul {
  position: relative;
  display: block;
  max-height: 300px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
}

.fs-select-box li {
  position: relative;
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
}

.fs-select-box li:last-child {
  border: none;
}

.fs-open-select .fs-select-box {
  display: block;
}

.fs-select-box li.selected {
  color: #068596;
}

/*BUTTON*/

.fs-buts {
  position: relative;
  display: block;
  font-size: 0;
}

.fs-but {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #c01908;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.2rem;
}

.but-pin {
  width: 34.5rem;
  margin: 0 auto;
}

/*CHECKBOX*/

.fs-checkbox {
  position: relative;
}

.fs-checkbox label, .fs-radio label {
  padding: 0 0 0 0.7rem;
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

.fs-checkbox li, .fs-radio li {
  position: relative;
}

.fs-checkbox label::before, .fs-checkbox label::after, .fs-checkbox input[type="checkbox"], .fs-radio input[type="radio"], .fs-radio label::before, .fs-radio label::after {
  display: inline-block;
  vertical-align: middle;
  width: 2.4rem;
  height: 2.4rem;
}

.fs-checkbox input[type="checkbox"], .fs-radio input[type="radio"] {
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.fs-radio label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #777777;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.fs-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 2px solid #777777;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.fs-checkbox label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(50%) scale(1.2);
  transform: translateY(50%) scale(1.2);
  background: url(../images/check-icon.png) no-repeat center center;
  background-size: 100% auto;
  opacity: 0;
}

.fs-checkbox label a {
  color: #ff2424;
  font-weight: 700;
}

.fs-radio li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
}

.fs-radio label::before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.fs-radio label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #000;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0;
}

.fs-checkbox input[type="checkbox"]:checked+label::after {
  opacity: 1;
}

.fs-radio input[type="radio"]:checked+label::after {
  opacity: 1;
}

/*HEADER AREA*/

/*FOOTER*/

/*Slider*/

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background-color: #fff;
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 3.5rem;
  height: auto;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.swiper-button-prev::before, .swiper-button-next::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 100%;
}

.swiper-button-prev {
  background-image: url(../images/prev.png);
  left: 0;
  right: auto;
  background-size: cover;
}

.swiper-button-next {
  background-image: url(../images/next.png);
  right: 0;
  left: auto;
  background-size: cover;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-pagination-bullet {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  margin: 0 1.1rem;
  opacity: 1;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 1rem;
  height: 1rem;
  background-color: #dbdbdb;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active::before {
  background-color: #ff2424;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/*Banner*/

.fs__banner {
  padding: 7rem 0 100px 0;
}

/*FORM*/

.fs-form {
  position: relative;
  width: 49.7777%;
  margin: 0 auto;
}

.fs-hide-label {
  position: relative;
  display: block;
  font-size: 0;
  line-height: 0;
}

.lv10 {
  z-index: 10;
}

.lv9 {
  z-index: 9;
}

.lv8 {
  z-index: 8;
}

.lv7 {
  z-index: 7;
}

.lv6 {
  z-index: 6;
}

.lv5 {
  z-index: 5;
}

.lv4 {
  z-index: 4;
}

.lv3 {
  z-index: 3;
}

.lv2 {
  z-index: 2;
}

.fs-group {
  position: relative;
  margin-bottom: 2rem;
}

.fs-group.center {
  text-align: center;
}

.fs-group input[type="text"], .fs-group input[type="email"], .fs-group input[type="number"], .fs-group input[type="password"] {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  border: 4px solid #5fb7b5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #000;
}

.fs-group input[type="text"]::placeholder, .fs-group input[type="email"]::placeholder, .fs-group input[type="number"]::placeholder, .fs-group input[type="password"]::placeholder, .fs-group textarea::placeholder {
  color: #868686;
}

.fs-group input[type="text"]:-ms-input-placeholder, .fs-group input[type="email"]:-ms-input-placeholder, .fs-group input[type="number"]:-ms-input-placeholder, .fs-group input[type="password"]:-ms-input-placeholder, .fs-group textarea:-ms-input-placeholder {
  color: #868686;
}

.fs-group input[type="text"]::-ms-input-placeholder, .fs-group input[type="password"]::-ms-input-placeholder, .fs-group textarea::-ms-input-placeholder {
  color: #868686;
}

.fs-group input[type="text"]::-moz-placeholder, .fs-group input[type="email"]::-moz-placeholder, .fs-group input[type="number"]::-moz-placeholder, .fs-group input[type="password"]::-moz-placeholder, .fs-group textarea::-moz-placeholder {
  color: #868686;
  opacity: 1;
}

.fs-caption {
  position: relative;
  display: block;
  font-size: 2rem;
  color: #0033a0;
  margin-bottom: 0.5rem;
}

.fs-hint {
  font-size: 1.2rem;
  color: #08afc0;
  line-height: 1.4;
  display: block;
  margin-bottom: 0.5rem;
}

/* Show error */

.fs-show-error .fs-error-txt {
  visibility: visible;
  opacity: 1;
}

.fs-error-txt {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
}

.fs-error-txt span {
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  color: #ea0808;
}

/*Content Page*/

.fs__content {
  padding-bottom: 8rem;
}

.box__content {
  position: relative;
  display: none;
}

.box__content.active {
  display: block;
}

.box__form {
  width: 100%;
}

.fs-title {
  text-align: center;
  margin-bottom: 2rem;
}

.fs-title h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #0032a0;
  margin-bottom: 2rem;
}

.fs-title p {
  font-size: 2rem;
  color: #0032a0;
}

.area-upload {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

.area-upload.done {
  opacity: 0.6;
  pointer-events: none;
}

.box-input-hidden {
  display: none;
}

.area-upload .btn-upload {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.3rem 0;
  background-color: #08afc0;
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  cursor: pointer;
}

.area-upload .btn-upload span {
  display: inline-block;
  font-size: 2.4rem;
  color: #fff;
  padding: 1rem 6rem 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../images/icon-bill.png) no-repeat center right;
  background-size: 4rem auto;
}

.fs-name-file {
  position: relative;
  display: block;
}

.fs-name-file p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #868686;
}

.text__note {
  font-size: 1.2rem;
  color: #868686;
  line-height: 1.4;
}

.box__game {
  width: 100%;
}

.frame__box {
  position: relative;
  display: block;
  width: 65.51111%;
  margin: 0 auto;
}

.frame {
  display: block;
  width: 100%;
}

.arrow__gift {
  position: absolute;
  display: block;
  top: -4%;
  left: 50%;
  width: 12.075%;
  height: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.circle__gift {
  position: absolute;
  top: 5.5%;
  left: 50%;
  width: 87.2455%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.button__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19.937%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}

.button__pin img {
  width: 100%;
  opacity: 0;
}

/* Loading */

.fs-loading {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.fs-loading.active {
  display: block;
}

.fs-loading::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2.5rem 0 0 -2.5rem;
  width: 7rem;
  height: 7rem;
  border-left: 0.4rem solid #5fb7b5;
  border-top: 0.4rem solid #5fb7b5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotate360 1.5s infinite;
  animation: rotate360 1.5s infinite linear;
  z-index: 1000;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*RESPONSIVE*/

@media screen and (max-width: 1100px) {
  .fs-page {
    max-width: inherit;
  }
  .fs-pc {
    display: none;
  }
  .fs-sp {
    display: block;
  }
  .fs__banner {
    padding: 6.22222vw 0 15vw 0;
  }
  .fs__content {
    padding-bottom: 7.1111vw;
  }
  .content__inr {
    width: 92%;
    margin: 0 auto;
  }
  .fs-title {
    margin-bottom: 3.0769vw;
  }
  .fs-title h1 {
    font-size: 5.2vw;
    margin-bottom: 3.0769vw;
  }
  .fs-title p {
    font-size: 3.4vw;
  }
  .fs-form {
    width: 100%;
  }
  .fs-group {
    margin-bottom: 3.0769vw;
  }
  .fs-caption {
    font-size: 3.5vw;
    margin-bottom: 1vw;
  }
  .fs-group input[type="text"], .fs-group input[type="email"], .fs-group input[type="number"], .fs-group input[type="password"] {
    height: 10vw;
    padding: 0 3.0769vw;
    font-size: 3.4vw;
    border: 0.73vw solid #5fb7b5;
    -webkit-border-radius: 1.2vw;
    border-radius: 1.2vw;
  }
  .fs-hint {
    font-size: 3vw;
    margin-bottom: 1.3vw;
  }
  .area-upload {
    margin-bottom: 3.0769vw;
  }
  .fs-name-file p {
    font-size: 3.4vw;
  }
  .area-upload .btn-upload {
    padding: 1.4vw 0;
    -webkit-border-radius: 7.6923vw;
    border-radius: 7.6923vw;
    width: 94%;
    margin: 0 auto;
  }
  .area-upload .btn-upload span {
    font-size: 5.6vw;
    padding: 2.5vw 13vw 2.5vw 0;
    background-size: 8.8vw auto;
  }
  .text__note {
    font-size: 2.8vw;
  }
  /* Fs-but */
  .fs-but {
    height: 12vw;
    line-height: 12vw;
    font-size: 5.3vw;
    -webkit-border-radius: 7.69230vw;
    border-radius: 7.69230vw;
  }
  .but-pin {
    width: 57vw;
  }
  /* Game */
  .frame__box {
    width: 95%;
  }
  /* loading */
  .fs-loading::after {
    margin: -6.0386vw 0 0 -6.0386vw;
    width: 12.0772vw;
    height: 12.0772vw;
    border-left: 0.9661vw solid #5fb7b5;
    border-top: 0.9661vw solid #5fb7b5;
  }
}